body {
  font-family: "Roboto", sans-serif;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

h1,
h3 {
  color: #f9faf8;
}

li,
.hero p {
  color: #e5e7eb;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

li {
  font-size: 18px;
}

h3 {
  font-size: 24px;
}

button,
.call-to-action {
  background-color: #3882f6;
  color: #f9faf8;
}

.information,
.testimonial {
  color: #1f2937;
}

.information h2,
.testimonial p {
  font-size: 36px;
}

.information h2 {
  font-weight: bolder;
}

.testimonial {
  background-color: #e5e7eb;
}

.testimonial p {
  font-style: italic;
}

.footer p {
  color: #e5e7eb;
}
