body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  display: flex;
  align-items: center;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
}

hero-flex-container {
  display: flex;
}

.information h2 {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.even-columns {
  display: flex;
  /* width: 100%; */
}

.info-flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  border: 2px solid #3882f6;
  border-radius: 4px;
  height: 100px;
  width: 100px;
}

.text {
  text-align: center;
}

h1,
h3 {
  color: #f9faf8;
}

ul {
  list-style-type: none;
}

li,
.hero p {
  color: #e5e7eb;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

li {
  font-size: 18px;
}

h3 {
  font-size: 24px;
}

button,
.call-to-action {
  background-color: #3882f6;
  color: #f9faf8;
}

.information,
.testimonial {
  color: #1f2937;
}

.information h2,
.testimonial p {
  font-size: 36px;
}

.information h2 {
  font-weight: bolder;
}

.testimonial {
  background-color: #e5e7eb;
}

.testimonial p {
  font-style: italic;
}

.footer {
  color: #e5e7eb;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
